.moh{ font-size: medium; font-family: 'Courier New', Courier, monospace; }
.m1, .m2 { font-size: medium; font-family: 'Courier New', Courier, monospace;}
.m2 { background-color: lightblue;}
.m2:hover {background-color: white; color:blueviolet;}
.c1{color:blue;}
.c2{color: red;}
.c3{color:cadetblue;}
.c4{color:gold;}
.c5{color:silver;}
.c6{color:darkolivegreen;}
.c7{color:brown;}
table {border-style:solid;}
  
  th, td {text-align: left; padding: 8px; color: brown;}
  
  tr:nth-child(even) {background-color: #f2f2f2;}
  .moh:hover{
    text-shadow: 2px 4px 8px blueviolet;
    border: solid 2px blueviolet;   
    margin-right: 80%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:skyblue;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    color: cornsilk;
    text-shadow: 5px black;
  }
