.moh{ font-size: medium; font-family: 'Courier New', Courier, monospace; }
.m1, .m2 { font-size: medium; font-family: 'Courier New', Courier, monospace;}
.m2 { background-color: lightblue;}
.m2:hover {background-color: white; color:blueviolet;}
.c1{color:blue;}
.c2{color: red;}
.c3{color:cadetblue;}
.c4{color:gold;}
.c5{color:silver;}
.c6{color:darkolivegreen;}
.c7{color:brown;}
table {border-style:double;}
  
  th, td {text-align: left; padding: 8px; color: brown;}
  
  tr:nth-child(even) {background-color: #f2f2f2;}
